#img_grid::-webkit-scrollbar {
	width: 4px;
}

#img_grid::-webkit-scrollbar-thumb {
	background-color: #666;
}

#img_grid::-webkit-scrollbar-thumb:active {
	background-color: #333;
}

#img_grid {
	width: 204px;
	height: 200px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
}

#img_grid > div.flexible > img {
	padding: 2px;
}

#img_grid > div.flexible > img {
	width : 36px;
	height: 36px;
}
